# Ignoring compiled files
*.exe
*.dll
*.sl

# Ignoring database files
*.db
*.sqlite3
*.sqlite3.*

# The data/config folder
data/

# Ignoring the .zedstate file (for using zed editor)
.zedstate

# Ignoring project-specific compiled files
personalwebsite
personalwebsite.*
gin-bin
gin-bin.*

# The Godeps _workspace folder
Godeps/_workspace/
