html {
	overflow-y: scroll;
}

.maincontainer {
	padding: 25px;
}

.toprow {
	background: #333;
	box-shadow: 0px 0px 8px #000;
}

.toprowcontent {
	color: #ffffff;
	font-size: 64px;
}

.toprowcontent:hover {
	color: #ececec;
}

.footer-text {
	color: #bbb;
}

.footer-text:hover {
	color: #ccc;
}

.footer-text:active {
	color: #ccc;
}
