#imageCarousel {
	background: #333;
	height: 480px;
}

.whitetext {
	margin: 20%;

	color: #fff;
}

.carouselImage {
	min-height: 480px;
	max-height: 480px;

	margin-left: auto;
	margin-right: auto;
}
