<h2 class="text-center">Admin Panel</h2>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<hr>

		<h3 class="text-center">New Blog Post</h3>

		<form method="post" action="/admin/new/" role="form">
			<div class="form-group col-md-6">
				<label class="control-label" for="titleInput">Title</label>
				<input id="titleInput" class="form-control" type="text" name="title" placeholder="Enter Title" required>
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="authorInput">Author</label>
				<input id="authorInput" class="form-control" type="text" name="author" placeholder="Enter author" required>
			</div>

			<div class="form-group">
				<label class="control-label" for="bodyInput">Body</label>
				<textarea id="bodyInput" class="form-control" rows="8" name="body" placeholder="Enter body" required></textarea>
			</div>

			<div class="form-group">
				<button class="btn btn-default" type="submit">Submit</body>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<form class="col-md-6 col-md-offset-3" method="post" action="/admin/update/" role="form">
		<hr>

		<h3 class="text-center">Update Login Information</h3>

		<div class="form-group">
			<label class="control-label" for="newusernameInput">New Username</label>
			<input id="newusernameInput" class="form-control" type="text" name="newusername" placeholder="Enter new username" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="newpasswordInput">New Password</label>
			<input id="newpasswordInput" class="form-control" type="password" name="newpassword" placeholder="Enter new password" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="cnewpasswordInput">Confirm New Password</label>
			<input id="cnewpasswordInput" class="form-control" type="password" name="cnewpassword" placeholder="Confirm new password" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="oldpasswordInput">Current Password</label>
			<input id="oldpasswordInput" class="form-control" type="password" name="oldpassword" placeholder="Enter old password" required>
		</div>

		<div class="form-group">
			<button class="btn btn-default" type="submit">Submit</button>
		</div>
	</form>
</div>
