<h2 class="text-center">Admin Panel</h2>

<h3 class="text-center">
	<a href="/admin/new/">Make a New Blog Post</a>
</h3>

<h3 class="text-center">
	<a href="/admin/newcourse">Add a New Course</a>
</h3>

<h3 class="text-center">
	<a href="/admin/newproject">Add a New Project</a>
</h3>

<div class="row">
	<form class="col-md-6 col-md-offset-3" method="post" action="/admin/update/" role="form">
		<hr>

		<h3 class="text-center">Update Login Information</h3>

		<div class="form-group">
			<label class="control-label" for="newusernameInput">New Username</label>
			<input id="newusernameInput" class="form-control" type="text" name="newusername" placeholder="Enter new username" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="newpasswordInput">New Password</label>
			<input id="newpasswordInput" class="form-control" type="password" name="newpassword" placeholder="Enter new password" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="cnewpasswordInput">Confirm New Password</label>
			<input id="cnewpasswordInput" class="form-control" type="password" name="cnewpassword" placeholder="Confirm new password" required>
		</div>

		<div class="form-group">
			<label class="control-label" for="oldpasswordInput">Current Password</label>
			<input id="oldpasswordInput" class="form-control" type="password" name="oldpassword" placeholder="Enter old password" required>
		</div>

		<div class="form-group">
			<button class="btn btn-default" type="submit">Submit</button>
		</div>
	</form>
</div>
