<!doctype html>

<html>
	<head>
		<script src="/js/jquery-2.1.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/showdown.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/{{.Name}}.js"></script>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/{{.Name}}.css">
	</head>

	<body>
		<div class="container-fluid toprow">
			<a class="col-md-4 text-center toprowcontent" href="/">Home</a>
			<a class="col-md-4 text-center toprowcontent" href="/project">Projects</a>
			<a class="col-md-4 text-center toprowcontent" href="/blog">Blog</a>
		</div>

		<div class="container maincontainer">
			<h1 class="text-center">SITE UNDER CONSTRUCTION</h1>
			<hr>
