<div class="row">
	<h1 class="text-center">
		Cerek Hillen
		<br>
		<small>
			Programmer and Web Developer
	</h1>
</div>

<div class="row">
	<hr class="col-md-6 col-md-offset-3">
</div>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h3 class="text-center">Bio</h3>
		<h3 class="text-center"><small id="bioToggle">Show<b class="caret"></b></small></h3>

		<p id="bio" class="col-md-10 col-md-offset-1 text-justify">
			My name is Cerek Hillen, and I've been programming since
			2010 (when I was only 12). One of my friends, who was
			learning to program videogames, invited me to join him
			in his pursuit. He began to teach me C++. It didn't take
			long for me to surpass his ability. I learned the basics
			of program design, file IO, OOP, etc. After learning the
			basics, I tried my hand at installing Allegro to finally
			pursue making videogames. The difficulty of installing
			native bindings frustrated me. This anger towards C++
			and the promise that Java was truly cross-platform
			fueled my switch in language.

			<br>
			<br>

			I found, upon beginning to learn Java, that most of what
			I learned from C++ still applied. There were still
			classes and class hierarchies to design. There were
			still files to write to and read from. There were still
			game libraries to learn: like
			<a href="http://lwjgl.org">LWJGL</a>.
			Thus I began to learn a very archeic form of OpenGL.
			Ancient functions were dug up: <code>glBegin()</code>,
			<code>glVertex2f()</code>, <code>glVertex3f()</code>,
			<code>glEnd()</code>, and others. I made basic games,
			such as Snake and Pong. Soon after I discovered
			<a href="http://slick.ninjacave.com">Slick</a>.
			With the streamlined API of Slick, I began to pursue
			creating more complex games. Despite it being a
			wonderful tool, <em>I</em> was not yet ready.

			<br>
			<br>

			I had the concepts. I could make classes, I knew about
			pointers, recursion, basic algorithm design. I knew how
			to write each individual piece of code. But I didn't
			know how to manage it. I thought my skillset was just
			that of a programmer, not a team manager. But soon it
			began to creep on me that I would need to learn at least
			basic project management to make anything of note. To
			achieve this I switched between languages and projects,
			to expand my management ability in different contexts.

			<br>
			<br>

			Around this time I also started to learn
			<a href="http://haskell.org">Haskell</a>.
			A wonderful bit of the Haskell community is that they
			are so open to helping people with even the most
			abstract facets of programming. Not only that, but so
			much of the community is comprised of very skilled
			programmers (and computer scientists). I submitted
			projects for code reviews. They responded with far more
			than just Haskell advice. In a way, they taught me how
			to manage projects.

			<br>
			<br>

			Through the Haskell community I developed as a person as
			well. I became someone who would much rather be
			uncomfortable and learn than stay comfortable and
			static. As this piece of my personality became more and
			more prevalent, I learned exponentially more about
			programming and computer science. I changed from a kid
			trying to program games to someone who can really
			understand, create, and manage reasonably sized
			projects.
		</p>
	</div>

	<div class="col-md-5">
		<h3 class="text-center">Skills</h3>
		<h3 class="text-center"><small id="skillsToggle">Show<b class="caret"></b></small></h3>

		<h4 id="skills">
			<ul>
				<li>Knows <a href="http://haskell.org">Haskell</a></li>
				<li>Knows <a href="http://hackage.haskell.org/package/shakespeare">Shakespeare</a> for Haskell</li>
				<li>Knows <a href="http://yesodweb.com">Yesod</a> for Haskell</li>
				<li>Knows <a href="http://hackage.haskell.org/package/scotty">Scotty</a> for Haskell</li>
				<li>Knows <a href="http://golang.org">Go</a></li>
				<li>Knows Go's <a href="http://golang.org/pkg/net/http">HTTP Library</a></li>
				<li>Knows Go's <a href="http://golang.org/pkg/html/template/">HTML Templating Engine</a></li>
				<li>Knows <a href="http://nodejs.org">Node.js</a></li>
				<li>Knows <a href="http://expressjs.com/">Express</a> for Node.js</li>
				<li>Knows <a href="https://www.java.com">Java</a></li>
				<li>Knows <a href="http://lwjgl.org/">LWJGL</a> for Java</li>
				<li>Knows <a href="http://slick.ninjacave.com/">Slick2D</a> for Java</li>
				<li>Knows <a href="http://libgdx.badlogicgames.com">LibGDX</a> for Java</li>
				<li>Knows <a href="http://scala-lang.org">Scala</a></li>
				<li>Knows <a href="http://en.wikipedia.org/wiki/C%2B%2B">C/C++</a></li>
				<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/html">HTML</a></li>
				<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/javascript">Javascript</a></li>
				<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/css">CSS</a></li>
				<li>Can competently and simply express technical concepts.</li>
				<li>Versed in complex algorithm design</li>
			</ul>
		</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<hr>

		<h3 class="text-center">Contact Information</h3>
		<h3 class="text-center"><small id="contactToggle">Show<b class="caret"></b></small></h3>

		<h4 id="contact">
			<ul>
				<li>My <a href="http://github.com/crockeo" target="_blank">GitHub</a></li>
				<li>This Website's <a href="http://github.com/crockeo/personalwebsite" target="_blank">GitHub</a></li>
				<li>My <a href="mailto:cerekh@gmail.com" tagert="_blank">Primary Email</a></li>
				<li>My <a href="mailto:crockeo@gmail.com" tagert="_blank">Secondary Email</a></li>
				<li>My <a href="mailto:oprowarrior@gmail.com" tagert="_blank">Tertiary Email</a></li>
				<li>My <a href="http://hackage.haskell.org/user/Crockeo" target="_blank">Hackage</a></li>
			</ul>
		</h4>
	</div>
</div>
