<div class="row">
	<h1 class="text-center">
		Cerek Hillen
		<br>
		<small>
			Programmer and Web Developer
	</h1>
</div>

<div class="col-md-6 col-md-offset-3">
	<hr>

	<h3 class="text-center">- Bio -</h3>

	<p class="col-md-10 col-md-offset-1 text-justify">
		My name is Cerek Hillen, and I've been programming since 2010
		(when I was 14). Initially I learned (C++ and then C) for the
		sake of programming games. I soon found out about Java, which I
		believed was an absurdly high-level language. I continued my
		work in games, learning thoroughly outdated OpenGL with LWJGL.

		<br>
		<br>

		When I learned of Haskell, I discovered my real passion for
		coding. Instead of programming for the sake of games, I began to
		start programming for the sake of programming. In that short
		period of time I began to learn more about programming,
		computer science, and algorithm design. That's when I went
		through my metamorphosis, moving from a novice programmer to a
		competent programmer.

		<br>
		<br>

		After developing that competence in programming, I started to
		create a sense of project management. Now, not only do I have
		the theoretical ability to create a complex project, but also
		the applied know-how to actually execute it.
	</p>
</div>

<div class="col-md-6 col-md-offset-3">
	<hr>

	<h3 class="text-center">- Skills -</h3>

	<h4>
		<ul class="col-md-10 col-md-offset-1">
			<li>Knows <a href="http://haskell.org">Haskell</a></li>
			<li>Knows <a href="http://hackage.haskell.org/package/shakespeare">Shakespeare</a> for Haskell</li>
			<li>Knows <a href="http://yesodweb.com">Yesod</a> for Haskell</li>
			<li>Knows <a href="http://golang.org">Go</a></li>
			<li>Knows Go's <a href="http://golang.org/pkg/html/template/">HTML Templating Engine</a></li>
			<li>Knows <a href="http://nodejs.org">Node.js</a></li>
			<li>Knows <a href="http://expressjs.com/">Express</a> for Node.js</li>
			<li>Knows <a href="https://www.java.com">Java</a></li>
			<li>Knows <a href="http://lwjgl.org/">LWJGL</a> for Java</li>
			<li>Knows <a href="http://libgdx.badlogicgames.com">LibGDX</a> for Java</li>
			<li>Knows <a href="http://scala-lang.org">Scala</a></li>
			<li>Knows <a href="http://en.wikipedia.org/wiki/C%2B%2B">C/C++</a></li>
			<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/html">HTML</a></li>
			<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/javascript">Javascript</a></li>
			<li>Knows <a href="http://developer.mozilla.org/en-us/docs/web/css">CSS</a></li>
		</ul>
	</h4>
</div>
