<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center">Invalid Login</h2>
	<h4 class="text-justify">
		Sorry friend. I happen to do auth checks on the new blog
		post page too. But you'll have probably seen that from
		my <a href="http://github.com/crockeo/personalwebiste">GitHub
		page</a>. (Shameless self promotion, even to hackers!) Anyways
		good luck on trying to hack into it another way. Maybe submit a
		<code>POST</code> request to the <code>/blog/new/</code> page?
		That could work!
	</h4>

	<h3 class="text-center">
		Nice try, though. :)
	</h3>
</div>
