<h2 class="text-center">Admin Login</h2>

<div class="col-md-6 col-md-offset-3">
	<form method="post" action="/admin/login/" role="form">
		<div class="form-group">
			<label for="usernameInput">Username</label>
			<input id="usernameInput" class="form-control" type="text" name="username" placeholder="Enter username">
		</div>

		<div class="form-group">
			<label for="passwordInput">Password</label>
			<input id="passwordInput" class="form-control" type="password" name="password" placeholder="Enter password">
		</div>

		<div class="form-group">
			<button class="btn btn-default" type="submit">Login</button>
		</div>
	</form>
</div>
