<div class="row">
	<div class="col-md-6">
		<h3 class="text-center">New Post</h3>
		<form method="post" action="/admin/new/" role="form">
			<div class="form-group col-md-6">
				<label class="control-label" for="titleInput">Title</label>
				<input id="titleInput" class="form-control" type="text" name="title" placeholder="Enter Title" required>
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="authorInput">Author</label>
				<input id="authorInput" class="form-control" type="text" name="author" placeholder="Enter author" required>
			</div>

			<div class="form-group">
				<label class="control-label" for="bodyInput">Body</label>
				<textarea id="bodyInput" class="form-control" rows="8" name="body" placeholder="Enter body" required></textarea>
			</div>

			<div class="form-group">
				<button class="btn btn-default" type="submit">Submit</body>
			</div>
		</form>
	</div>

	<div class="col-md-6">
		<h3 class="text-center">Preview</h3>

		<div id="dynamicMarkdown" class="preview-content">
			<div class="text-center">Nothing yet</div>
		</div>
	</div>
</div>
